.reserved-days-list {    
    margin: 0 2rem;

    .loader-container {
        position: relative;
    }
    
    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .button-container {
        display: flex;
        justify-content: flex-end;
    }

    .reserve-button {
        margin-bottom: 16px;
        margin-left: auto;
    }
}
