.employees-list {
    margin-left: 2rem;
    // margin-right: 2rem; 
  
    .employee-card {
      background-color: rgba(64, 64, 64, 0.8) !important; // Add !important
      color: white;
  
      .card-content {
        background: rgba(64, 64, 64, 0.8);
      }

      .card-header,
      .card-meta,
      .card-description,
      .email {
        color: white !important;
      }
    }
  }