.fc-toolbar-title {
    color: white;
}

.fc-event-title {
    color: white;
}

.fc-day-sun,
.fc-day-sat { 
    background-color: #303030;
}

.fc-day-sat .fc-daygrid-day-events {
    display: none !important;
}

.fc-day-sun .fc-daygrid-day-events {
    display: none !important;
}

.fc-col-header-cell {
    background-color: rgb(48, 48, 48);
    color: white !important;
}

.fc-daygrid-day-number {
    color: white;
}

// 
.fc-daygrid-day {
    width: 50px !important;
    height: 50px !important;
}
//

.fc-day-today {
    background-color: #5f5f5f33 !important;
}

.calendar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.selected-dates {
    width: 30%;
}

.request-button {
    margin-left: auto;
    // margin: 0;
}

.calendar {
    width: 70%;
}

.fc-popover-body .fc-daygrid-event-harness .fc-daygrid-dot-event .fc-event-title {
    color: #000;
}

.loader-container {
    position: relative;
    // display: flex;
    // justify-content: center; /* Center horizontally */
    // align-items: center; /* Center vertically */
    // reikia height: 100% arba width 100%
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Calendar__VacationDay--confirmed {
    background-color: #00b5ad !important;
    border: 1px solid #00b5ad !important;
    display: block;
}
  
.Calendar__VacationDay--unconfirmed {
    background-color: rgba(0, 181, 173, 0.5);
    border: 1px solid #00b5ad;
    border-style: dashed;
}
  